.bgv
{
    position: fixed;
    min-height: 100%;
    min-width:100% ;
    bottom: 0;
    right: 0;
}




form
{
    display: block;
    margin: auto;
    width: 400px;
    height: 450px;
    position: relative;
    top: 60px;
background: rgba(255, 252, 252, 0.226);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
border: 1px solid rgba(255, 245, 245, 0.486);
text-align: center;
}
.form-in
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 250px;
    position: relative;
    top: 40px;
}
.inp-box
{
    width: 300px;
    height: 40px;
    background-color: rgba(240, 248, 255, 0);
    border: 0px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0.466);
    color: rgb(255, 255, 255);
}
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 50%;
  }
  *:focus {
    outline: none;
}
.log
{
color: rgba(255, 255, 255, 0.699);
position: relative;
top: 40px;
}
.submit
{
    width: 150px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 13px;
    color: rgba(255, 255, 255, 0.637);
    position: relative;
    transition: 0.5s;
}
.submit1
{
    width: 150px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 13px;
    color: rgba(255, 255, 255, 0.637);
    position: relative;
    left: 100px;
    transition: 0.5s;
}
.submit2
{
    width: 150px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 13px;
    color: rgba(255, 255, 255, 0.637);
    position: relative;
    left: -100px;
    transition: 0.5s;
}